/* GLOBAL */
html, body {
    background: linear-gradient(109deg, rgba(0, 0, 0, 0.50) 41.93%, rgba(2, 2, 2, 0.34) 75.17%, rgba(6, 6, 6, 0.00) 101.98%), #083A2D;
    background-attachment: fixed; 
    height: 100%;  
    margin: 0 auto;
    max-width: 2500px;
    font-family: 'Abhaya Libre', serif;
    color: #FFF;
    font-size: 20px;
}

.outer-container {
    display: flex;
    justify-content: space-between;
}

.main-container {
    margin-inline: 2.5%;
    width: 47%;
}
.project-container {
    width: 27.5%;
    justify-content: center;
    margin-inline: 7.5%;
    margin-block: 5%;
    min-height: 100%;
}


/* REUSABLES */
.flex {
	display: flex;
}
.column {
	flex-direction: column;
}
.row {
    flex-direction: row;
}
.center {
	align-items: center;
	justify-content: center;
}
.wrap {
	flex-wrap: wrap;
}
.no-wrap {
    flex-wrap: nowrap;
}
.full-width {
	min-width: 100%;
}
.inline-flex {
    display: inline-flex;
}
.border {
    border: 1px black solid;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.space-evenly {
    justify-content: space-evenly;
}
.up {
    align-items: start;
}
.down {
    align-items: end;
}
.start {
    justify-content: start;
}
.end {
    justify-content: end;
}
.apricot {
    color: #FABD6B;
}
.transparent-overlay {
    background: rgba(217, 217, 217, 0.07);
    border-radius: 50px;  
}
.margin {
    margin: 0 auto;
}
.height-fit-content {
    height: fit-content
}
.align-left {
    margin-left: 20%;
}
.margin-top {
    margin-top: 7.5%;
}

/* HEADER SECTION */
header {
    position: relative;
    top: 40px;
}
nav {
    padding-inline: 7.5%;
    width: 50%;
    margin-block: 5%;
    height: 55px; 
    
}
nav ul {
    padding: 0;
}
nav li {
    display: inline;
    font-size: 22.5px;
}
nav li a {
    text-decoration: none;
}
nav li a:visited {
        color: #FFF;
}
nav li a:hover,
nav li a:active {
    color: #FABD6B;
}

.social-media-icons {
    width: 12.5%;

}
.social-media-icons img {
    width: 25px;
}

/* MAIN SECTION */
.introductory-message {
    margin-top: 15%;
}
.introductory-message h1 {
    font-size: 150px;
    font-weight: 500;
    margin-block: 0;
    margin-left: 7.5%;
}
.introductory-message h2 {
    font-size: 45px;
    font-weight: 500;
    margin-block: 3% 0%;
}
.introductory-message h2:nth-child(1) {
    margin-top: 0;
}
.introductory-message .svg-container {
    display: flex;
    align-items: center;
    margin-block: 3% 0;
}
.about-me {
    margin-left: 2%;
}
.about-me p {
    margin-block: 1.5%;
}
main {
    margin-top: 2%;
}

main img:last-child {
    align-self: flex-end;
    margin-bottom: 3.5%;
}

.about-me p:nth-child(2) {
    margin-bottom: 1.5%;
}
.quotation-mark {
    font-size: 150px;
}
.quotation-mark p {
    margin-block: 0;
}
.contact-me .svg-container {
    margin-right: 2%;
}

.contact-me {
    align-items: center;
    margin-left: 5%;
}

.banner h2 {
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.banner {
    width: 80%;
    height: 55px; 
    margin-bottom: 2.5%;
}

.project-container img {
    border-radius: 50px;
    opacity: 0.25;
    margin-inline: 5%;
}

.project-container span {
    padding-inline: 3.5%;
}

.project {
    margin-block: 2.5%;
}

.project h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.project h3,
.project p {
    margin-block: 2.5%;
}

.project div div:last-child {
    margin-top: 5%;
}